@import "tailwindcss";

:root {
  --background: #fae5f7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}
/* CSS สำหรับแอนิเมชันเฟดอิน */
/* CSS สำหรับแอนิเมชันเฟดอิน */
/* CSS สำหรับแอนิเมชันเฟดอิน */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scroll-item {
  animation: fadeIn 1s forwards; /* ใช้การเฟดอิน */
}

.infinite-scroll {
  display: flex;
  justify-content: center; /* จัดให้อยู่ในแถวเดียวกันและห่างกัน */
  gap: 1rem; /* ระยะห่างระหว่างคอมเมนต์ */
}

.scroll-item {
  flex: 1; /* ให้แต่ละคอมเมนต์มีขนาดพอดี */
  padding: 0.5rem;
  max-width: 16rem;
  background-color: #193f80;
  color: rgb(73, 0, 116);
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeIn 1s forwards;
}

h2 {
  font-size: 1.5rem; 
  color: #44035e; 
}

h3 {
  font-size: 1.2rem; 
}

p {
  font-size: 1rem; 
}







body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
